@model HardstopNet.Models.Pedido

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Intern/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Carrinho.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carrinho.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pagamento.FormaPagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pagamento.FormaPagamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorarioPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorarioPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusPedido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PedidoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
