@model HardstopNet.Models.Pedido

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Intern/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Carrinho.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carrinho.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pagamento.FormaPagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pagamento.FormaPagamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HorarioPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HorarioPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusPedido)
        </dd>

    </dl>
</div>
<div>
    <h4>Itens do Carrinho</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Preço Unitário</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Carrinho.ItensCarrinho)
            {
                <tr>
                    <td>@item.Produto.Nome</td>
                    <td>@item.QuantidadeProduto</td>
                    <td>R$ @item.PrecoUnitario.ToString("F2")</td>
                    <td>R$ @((item.PrecoUnitario * item.QuantidadeProduto).ToString("F2"))</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PedidoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
