@model IEnumerable<HardstopNet.Models.Produto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
<style>
    .cart-item img {
        max-width: 100px;
        height: auto;
    }

    .quantity-input {
        width: 50px;
    }

    .cart-summary {
        background-color: #f8f9fa;
        border-radius: 10px;
    }
</style>

<div class="container py-5">
    <h1 class="mb-5">Favoritos</h1>
    <div class="row">
        <div class="col-lg-8">
            <!-- Cart Items -->
            <div class="card mb-4">
                <div class="card-body">
                    @if (Model == null | !Model.Any())
                    {
                        <div>Você não adicionou nenhum produto aos favoritos! Continue comprando conosco.</div>
                    }
                    @foreach (var produto in Model)
                    {
                        <div class="row cart-item mb-3">
                            <div class="col-md-5">
                                <h5 class="card-title">@produto.Nome</h5>
                                <p class="text-muted">@produto.ProdutosCategorias.ElementAt(0).Categoria.Nome</p>
                            </div>

                            <div class="col-md-2 text-end">
                                <p class="fw-bold">R$ @produto.Preco</p>
                                <form action="@Url.Action("RemoverFavorito", "Favoritos")" method="post" style="display: inline;">
                                    <input type="hidden" name="produtoId" value="@produto.ProdutoId" />
                                    <button class="btn btn-sm btn-outline-danger">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </form>
                            </div>
                        </div>

                    }
                </div>
            </div>
            <!-- Continue Shopping Button -->
            <div class="text-start mb-4">
                <a href="/" class="btn btn-outline-primary">
                    <i class="bi bi-arrow-left me-2"></i>Continue comprando
                </a>
            </div>
        </div>
    </div>
</div>